@inherits LokiComponentBase

<div class="rating">
    <div class="rating_star">☆</div>
    <div class="rating_star">☆</div>
    <div class="rating_star">☆</div>
    <div class="rating_star">☆</div>
    <div class="rating_star">★</div>
</div>