@namespace Loki.Components
@inherits LokiComponentBase
@typeparam T

<div>
    <table>
        @if (HeaderTemplate is not null)
        {
            <thead>
                <tr>
                    @HeaderTemplate
                </tr>
            </thead>
        }

        @if (RowTemplate is not null)
        {
            <tbody>
                @foreach (var dataItem in Data ?? new List<T>())
                {
                    <tr>
                        @RowTemplate(dataItem)
                    </tr>
                }
            </tbody>
        }

        @if (FooterTemplate is not null)
        {
            <tfoot>
                <tr>
                    @FooterTemplate
                </tr>
            </tfoot>
        }
    </table>
</div>