@inherits LokiComponentBase

<div>
    <button @onclick="OnClickHandler" class="@Class" style="cursor: pointer; padding: 12px; background-color: dodgerblue; color: white;@Style">
        @ChildContent
    </button>
</div>